@charset "UTF-8";

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.e-navbar {
    position: absolute;
    width: 190px;
}

.e-nav-header {
    padding: 33px 25px;
    background: #ffffff;
}

.e-nav {
    padding-left: 0;
    margin-bottom: 0;
}

.e-nav > li {
    position: relative;
    display: block;
}

.e-nav > li > a {
    color: #A6A6A6;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    position: relative;
    display: block;
    text-decoration: none;
}

.e-nav > li > a:hover {
    background-color: #FF5E00;
    color: white;
}

.e-div_bg {
    border-left-style: solid;
    border-color: #ebebeb;
    background-color: #f3f3f4;
    padding: 0 15px;
    position: relative;
}

.e-main {
    margin: 0 0 0 190px;
    position: relative;
    background-color: #f3f3f4;
    border-left-style: solid;
    border-color: #ebebeb;
    max-width: 1100px;
    height: 100%;
}

.e-main_head {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffffff;
    border-top: 0;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid #e7eaec;
}

.e-main_head_top,
.e-main_body {
    min-width: 700px;
}

.e-main_head_top {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 1.1;
    color: gray;
}

.e-main_head_title {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
    border-radius: 4px;
    margin-top: 0;
    display: block;
}

.e-main_head_title {
    display: inline-block;
}

.e-main_head_title > li {
    display: inline-block;
}

.e-main_head_title > li a {
    color: gray;
    text-decoration: none;
}

ol {
    margin-top: 0;
    list-style: none;
    display: block;
}

.e-select_count {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.e-select_status {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 160px;
}

.e-search_name {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: 340px;
    height: 33px;
}

.e-search_name_btn {
    color: gray;
    background: white;
    border: 1px solid #e7eaec;
    border-radius: 3px;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 289px;
    width: 50px;
    height: 33px;
}

.e-main_body {
    margin-right: 0;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin-left: -15px;
}

.e-main_body_img {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-main_body_imgcontent {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    height: 750px;
}

.e-main_body_btn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.e-enroll_btn {
    background-color: #396037;
    border-color: #396037;
    color: #FFFFFF;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.e-active {
    border-left: 5px solid #396037;
    background: #C32228;
}

.e-enroll_img_btn {
    margin-bottom: 5px;
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    direction: ltr;
    float: left;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.e-enroll_box {
    float: left;
    width: 190px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 118px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    opacity: 0;
    PADDING-BOTTOM: 0px;
    height: 33px;
    line-height: 33px;
}

.e-img_del_btn {
    position: absolute;
    top: 18px;
    right: 19px;
    opacity: 0.5;
    margin-bottom: 5px;
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.e-main_img {
    position: relative;
    text-align: center;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border: 1px solid white;
    background: white;
    padding: 15px 3px 0 3px;
}

.e-img_list {
    list-style-type: none;
    margin-top: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    display: block;
}

.e-input_img {
    cursor: move;
    vertical-align: middle;
    border: 0;
    height: 60px;
    width: 60px;
}

.e-text_position {
    position: absolute;
    right: 25px;
    top: 18px;
    color: gray;
    font-size: 14px;
    line-height: 16px;
}

.e-item_status_back {
    border-left-style: solid;
    border-color: #ebebeb;
    display: block;
    margin-right: 0;
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
    background: #f3f3f4;
}

.e-item_status_set {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background: #f3f3f4;
}

.e-item_main_back {
    width: 700px;
    min-height: 700px
    border-top: none;
    background: #fff;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px;
    position: relative;
}

.e-item_main {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.e-item_menu {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
}

.e-item_menu_label {
    color: gray;
    position: relative;
    min-height: 1px;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
    float: left;
    margin-bottom: 0;
}

.e-item_menu_maincate {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-item_menu_subcate {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-mainCategory_select {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

.e-subCategory_select {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

option:not(:checked) {
    background-color: white;
    color: #000000;
}

.e-item_menu_addr {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-form_control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

.e-item_menu_state {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-menu_state_form_control {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

.e-item_menu_title {
    width: 80%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-form_control_title {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
}

.e-item_menu_price {
    width: 80%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-form_control_price {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
}

.e-service_check {
    padding-left: 0;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    height: 44px;
}

.e-checkbox_inline {
    color: gray;
    padding-top: 7px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.e-item_menu_comment {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-form_comment {
    height: auto;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.e-item_menu_count {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.e-item_count {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

.e-item_pay {
    border-bottom: 30px solid #f3f3f4;
    margin-top: 10px;
    background-color: #fff;
    padding: 14px 16px;
    width: 700px;
    height: 150px;
}

.e-item_upload {
    text-align: right;
    padding-top: 24px;
    margin-bottom: 15px;
    float: right;
}

.e-upload_btn {
    width: 150px;
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 10px 16px;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
}

#e-enrollimg {
    float: left;
    margin-left: 10px;
}

#input_service_check {
    position: absolute;
    margin-left: -20px;
    margin: 6px -15px 0;
    line-height: normal;
    padding: 0;
    cursor: default;
    display: inline-block;
    text-align: start;
}

#e-comment_count {
    float: right;
    color: rgb(0, 0, 0);
}