@charset "UTF-8";

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.e-navbar {
    position: absolute;
    width: 190px;
}

.e-nav-header {
    padding: 33px 25px;
    background: #ffffff;
}

.e-nav {
    padding-left: 0;
    margin-bottom: 0;
}

.e-nav > li {
    position: relative;
    display: block;
}

.e-nav > li > a {
    color: #A6A6A6;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    position: relative;
    display: block;
    text-decoration: none;
}

.e-nav > li > a:hover {
    background-color: #FF5E00;
    color: white;
}

.e-div_bg {
    border-left-style: solid;
    border-color: #ebebeb;
    background-color: #f3f3f4;
    padding: 0 15px;
    position: relative;
}

.e-main {
    margin: 0 0 0 190px;
    position: relative;
    background-color: #f3f3f4;
    border-left-style: solid;
    border-color: #ebebeb;
    max-width: 1100px;
    height: 1000px;
}

.e-main_head {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffffff;
    border-top: 0;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid #e7eaec;
}

.e-main_head_top,
.e-main_body {
    min-width: 700px;
}

.e-main_head_top {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 1.1;
    color: gray;
}

.e-main_head_title {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
    border-radius: 4px;
    margin-top: 0;
    display: block;
}

.e-main_head_title {
    display: inline-block;
}

.e-main_head_title > li {
    display: inline-block;
}

.e-main_head_title > li a {
    color: gray;
    text-decoration: none;
}

ol {
    margin-top: 0;
    list-style: none;
    display: block;
}

.e-select_count {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.e-select_status {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 160px;
}

.e-search_name {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: 340px;
    height: 33px;
}

.e-search_name_btn {
    color: gray;
    background: white;
    border: 1px solid #e7eaec;
    border-radius: 3px;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 289px;
    width: 50px;
    height: 33px;
}

.e-main_body_btn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.e-enroll_btn {
    background-color: #396037;
    border-color: #396037;
    color: #FFFFFF;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.e-main_body_menu {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
}

.e-main_body_table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    display: table;
    border-color: grey;
}

.e-main_body_list > th {
    line-height: 1.5;
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.e-main_body_list > td {
    line-height: 1.5;
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.e-active {
    border-left: 5px solid #396037;
    background: #C32228;
}
