@charset "UTF-8";

* {
    box-sizing: border-box;
}

html{
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
}
div {
    display: block;
}

.e-navbar {
    position: absolute;
    width: 190px;
    z-index: 10;
}

.e-nav-header {
    padding: 33px 25px;
    background: #ffffff;
}

.e-nav {
    padding-left: 0;
    margin-bottom: 0;
}

.e-nav > li {
    position: relative;
    display: block;
}

.e-nav > li > a {
    color: #A6A6A6;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    position: relative;
    display: block;
    text-decoration: none;
}

.e-nav > li > a:hover {
    background-color: #FF5E00;
    color: white;
}

.e-div_bg {
    border-left-style: solid;
    border-color: #ebebeb;
    background-color: #f3f3f4;
    padding: 0 15px;
    position: relative;
}

.e-main {
    margin: 0 0 0 190px;
    position: relative;
    background-color: #f3f3f4;
    border-left-style: solid;
    border-color: #ebebeb;
    max-width: 1100px;
    height: 1000px;
}
.e-con{
	width: 100%;
	margin: 0 auto;
	background-color: #f3f3f4;
	height: 100%;
}
.e-con-nav{
	width: 190px;
	height: 1500px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.e-con-header{
	width: 100%;
	height: 97.91px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}
.e-main_head {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffffff;
    border-top: 0;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid #e7eaec;
}

.e-main_head_top,
.e-main_body {
    min-width: 700px;
}

.e-main_head_top {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 1.1;
    color: gray;
}

.e-main_head_title {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
    border-radius: 4px;
    margin-top: 0;
    display: block;
}

.e-main_head_title {
    display: inline-block;
}

.e-main_head_title > li {
    display: inline-block;
}

.e-main_head_title > li a {
    color: gray;
    text-decoration: none;
}

ol {
    margin-top: 0;
    list-style: none;
    display: block;
}

.e-select_count {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.e-select_status {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: gray;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.e-main_body_btn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.e-main_body_menu {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
}

.e-main_body_table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    display: table;
    border-color: grey;
}

.e-main_body_list > th {
    line-height: 1.5;
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.e-active {
    border-left: 5px solid #396037;
    background: #C32228;
}

.e-container {
    width: 100%;
    margin: 0 auto;
}

ul.e-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.e-tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.e-tabs li a{
	text-decoration: none;
    color: black;
}    

ul.e-tabs li.current {
    background: #ededed;
    color: #222;
}

.e-tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.e-tab-content.current {
    display: inherit;
}

.e-MyShopImg {
	margin-top: 50px;
	padding-left: 35px;
}

.e-MyShopTag {
	padding-left: 33px;
	text-decoration: none;
    color: gray;
    font-size: 20px;
}
