@charset "UTF-8";

.aside{
	width:40px; 
	height:3000px; 
	background:red;
	
	position:relative;
	z-index
}
.cate-go{
	width:40px;
	height:280px;
	position: fixed;
	top: 300px; 
	left: 100px;
	border:1px solid #EAEAEA;
 	display: none; 
    z-index: 1000; 	
}
/* .cate-go-div-title{
	font-size:2px;
	text-align:center;
	color:white;
	font-weight:bold;
	background:#c42026;
} */
.cate-go-div{
	padding:10px;
}
.cate-go-img{
	width:20px;
	height:20px;
}